<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <ul>
    <% food.forEach((food) => { %>
      <li> 
        <p><%= food.name %></p>
        <p>Price: <%= food.price %></p>
        <p>Rating: <%= food.rating %> / 5</p>
        <p>Details: <%= food.details %></p>
      </li>
     </a>
    <% }) %>
  </ul>
</body>
</html>
