<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <ul>
    <% food.forEach((food, index) => { %>
     <a href="/ <%= index %>">
      <li>Name: <%= food.name %>, 
        Price: <%= food.price %>, 
        Rating: <%= food.rating %>, 
        Details: <%= food.details %>
      </li>
     </a>
    <% }) %>
  </ul>
</body>
</html>
